.headerContainer {
  background: rgb(0, 18, 45);
  padding: 20px;
  width: 100vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.headerContainer h1 {
  width: 100vw;
  color: #fff;
  margin-left: 40px;
}

select {
  max-height: 30px;
  font-size: 16px;
  background: rgb(0, 18, 45);
  color: #fff;
  border: none;
  outline: none;
  margin-right: 40px;
}

@media only screen and (max-width: 600px) {
  .headerContainer h1 {
    margin-left: 10px;
  }

  select {
    margin-right: 10px;
  }
}
