table {
  border-spacing: 0;
  width: 100%;
  /* border: 1px solid black; */

  tr {
    :last-child {
      td {
        border-bottom: 0;
      }
    }
  }

  th,
  td {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5rem;
    border-bottom: 1px solid black;
    /* border-right: 1px solid black; */

    :last-child {
      border-right: 0;
    }
  }
}

tr {
  background-color: rgb(20, 18, 18);
  color: #fff;
  cursor: "pointer";
  
  &:hover: {
    background-color: "#131111",
}